absl-py==0.14.1
aiohttp==3.7.4.post0
antlr4-python3-runtime==4.8
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
audioread==2.1.9
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.6
chex==0.0.8
clip-anytorch==2.2.0
clize==4.2.0
cycler==0.10.0
decorator==5.1.0
dill==0.3.4
dm-tree==0.1.6
docutils==0.17.1
einops==0.3.0
ffmpeg-python==0.2.0
filelock==3.3.0
Flask==2.0.2
Flask-Cors==3.0.10
flatbuffers==2.0
flax==0.3.5
fsspec==2021.10.0
ftfy==6.0.3
future==0.18.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.41.0
huggingface-hub==0.1.2
idna==3.2
imageio==2.9.0
install==1.3.4
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.3.2
kornia==0.5.11
librosa==0.8.1
llvmlite==0.37.0
loguru==0.5.3
lxml==4.6.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mergedeep==1.3.4
msgpack==1.0.2
multidict==5.1.0
multiprocess==0.70.12.2
numba==0.54.0
numpy==1.20.2
oauthlib==3.1.1
od==1.0
omegaconf==2.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
optax==0.0.9
packaging==21.0
pandas==1.3.3
pathos==0.2.8
Pillow==8.3.2
pooch==1.5.1
pox==0.3.0
ppft==1.6.6.4
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyDeprecate==0.3.1
PyExecJS==1.5.1
pyparsing==2.4.7
python-dotenv==0.19.2
pytorch-lightning==1.4.9
pytz==2021.3
PyYAML==5.4.1
regex==2021.9.30
requests
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
scikit-learn==1.0
scipy==1.7.1
sentencepiece==0.1.91
sigtools==2.0.3
SoundFile==0.10.3.post1
taming-transformers-rom1504==0.0.6
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
threadpoolctl==3.0.0
tokenizers==0.10.3
toolz==0.11.1
torch==1.9.1
torchaudio==0.9.1
torchmetrics==0.5.1
torchvision==0.10.1
tqdm
transformers==4.12.3
translators==4.9.5
typing-extensions==3.10.0.2
wcwidth==0.2.5
Werkzeug==2.0.1
yarl==1.6.3
